@import "~bootstrap/scss/bootstrap.scss";

.container {
    max-width: 1000px !important;
}

.card {
    margin-left: 5px;
}
.jumbotron {
    background-image: url("");
    background-position: center;
}
.footer {
    background-color: #E9ECEF;
    max-height: 200px;
    bottom: 0%;
}
.footer-text {
    color: white;
    text-shadow: 2px 2px 3px black;
}

.footer-link:visited {
    color: white;
}
.footer-home {
    position: absolute;
    bottom: 0%;
    min-width: 100%;
}
.footer-icons {
    font-size: 25pt;
}
#github-footer {
    margin-left: 1%;
    color: #007BFF;
}
#linkedin-footer {
    color: #007BFF;
}
